



.container{
    width: 39vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float:right;

    }
    
   .record{
    float: right;
    width: 100%;
    background-color:yellow;
    margin-bottom: .1vw;
    margin-bottom: 1vw;
    }
    
   .bar {
    background-color: white;
    float: right;
    clear: left;
    height: 1.5vw;
    transition: .5s;
    }
    
   .bar span{
    font-size: 12px;
    font-weight: bold;
    color:black;
    float: left;
    margin-left: 5px;
    margin-top: 7px;
    }


.bar:hover{
    transition: .5s;
    background-color: yellow;
   
}


@media screen and (max-width: 765px){
 
    .header-top{

        width: 97vw;
    }
    .header-top ul{
        padding: 20px;
    }

    .header-top ul li a{
        font-size: 4vw;
        padding-left: 26px;
    }
    .header-top ul li a :nth-child(1){
        padding: 0;
    }

    .container{
        width: 90%;
        
    }
    .record{
        margin-bottom: 10px;
        /* padding: 7px; */
        
    }
    .bar{
        padding: 4px;
        /* border-radius: 100vw; */
    }
    .record span{
        font-size: 10px;
        margin-top: -5px;
    }
    

}


