




section{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.main{
    width: 70%;
    padding: 1.5vw;
    
}


.post h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.post-blog{
    font-size: .9vw;
    background-color: rgba(128, 128, 128, 0.267);
    padding: .5vw;
    display: flex;

}

.post-blog div h4{
    padding: .5vw;
    
}

.post-blog div a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid yellow;
} 


.container-post ul{
    list-style: none;
    display: flex;
    background-color: black;
}
.container-post ul li {
    padding-left: .4vw;
    margin: .5vw;
    color: white;
}



.post-blog img{
    width: 20%;
    margin: 10px;
    border: 1px solid yellow;
    padding: 5px;
}







/* blog post */

.posts-blog{
    font-size: .9vw;
    background-color: rgba(128, 128, 128, 0.267);
    padding: .5vw;
    display: flex;
    flex-direction: column;

}

.posts-blog div h4{
    padding: .5vw;
    
}



.container-post ul{
    list-style: none;
    display: flex;
    
    background-color: yellow;
}
.container-post ul li {
    padding-left: .4vw;
    margin: .5vw;
    color: black;
}



.posts-blog img{
    
    width: 100%;
    /* margin: 10px; */
    border: 1px solid yellow;
    /* padding: 5px; */
    
}











@media screen and (max-width: 765px){







    section{
        display: block;
        margin-top: -7rem;
        width: 100%;
    } 
    } 
   
    .header-top{

        width: 97vw;
    }
    .header-top ul{
        padding: 20px;
    }

    .header-top ul li a{
        font-size: 4vw;
        padding: 19px;
    }
    .header-top ul li a :nth-child(1){
        padding: 0;
    }
    


    .post-blog{

        width: 99%;
        margin: 0 auto;
    
    }
    .post-blog h2{
        font-size: 15px;
        margin: 1px;
    }
    .post-blog div h4 {
        font-size: 8px;
    }
    .post-blog div ul{
        width: 97%;
        margin: 0 auto;
        margin-bottom: 2px;
        padding: 2px;
    
    }
    .post-blog div ul li {
        font-size: 8px;
    }
    .postblog div h2 {
        font-size: 30px;
    }
    .postblog div h4 {
        font-size: 15px;
    }


